<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcmseek.webmanage.mapper.HerbSyndromeRelMapper">
    
    <resultMap type="HerbSyndromeRel" id="HerbSyndromeRelResult">
        <result property="id"    column="id"    />
        <result property="syndromeName"    column="syndrome_name"    />
        <result property="tcmHerbId"    column="tcm_herb_id"    />
        <result property="tcmSyndromeId"    column="tcm_syndrome_id"    />
        <result property="source"    column="source"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectHerbSyndromeRelVo">
        select id, syndrome_name, tcm_herb_id, tcm_syndrome_id, source, created_at from herb_syndrome_rel
    </sql>

    <select id="selectHerbSyndromeRelList" parameterType="HerbSyndromeRel" resultMap="HerbSyndromeRelResult">
        <include refid="selectHerbSyndromeRelVo"/>
        <where>  
            <if test="syndromeName != null  and syndromeName != ''"> and syndrome_name like concat('%', #{syndromeName}, '%')</if>
            <if test="tcmHerbId != null  and tcmHerbId != ''"> and tcm_herb_id = #{tcmHerbId}</if>
            <if test="tcmSyndromeId != null  and tcmSyndromeId != ''"> and tcm_syndrome_id = #{tcmSyndromeId}</if>
        </where>
    </select>
    
    <select id="selectHerbSyndromeRelById" parameterType="Long" resultMap="HerbSyndromeRelResult">
        <include refid="selectHerbSyndromeRelVo"/>
        where id = #{id}
    </select>

    <insert id="insertHerbSyndromeRel" parameterType="HerbSyndromeRel" useGeneratedKeys="true" keyProperty="id">
        insert into herb_syndrome_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="syndromeName != null">syndrome_name,</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">tcm_herb_id,</if>
            <if test="tcmSyndromeId != null and tcmSyndromeId != ''">tcm_syndrome_id,</if>
            <if test="source != null">source,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="syndromeName != null">#{syndromeName},</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">#{tcmHerbId},</if>
            <if test="tcmSyndromeId != null and tcmSyndromeId != ''">#{tcmSyndromeId},</if>
            <if test="source != null">#{source},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateHerbSyndromeRel" parameterType="HerbSyndromeRel">
        update herb_syndrome_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="syndromeName != null">syndrome_name = #{syndromeName},</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">tcm_herb_id = #{tcmHerbId},</if>
            <if test="tcmSyndromeId != null and tcmSyndromeId != ''">tcm_syndrome_id = #{tcmSyndromeId},</if>
            <if test="source != null">source = #{source},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHerbSyndromeRelById" parameterType="Long">
        delete from herb_syndrome_rel where id = #{id}
    </delete>

    <delete id="deleteHerbSyndromeRelByIds" parameterType="String">
        delete from herb_syndrome_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>