<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcmseek.webmanage.mapper.PrescriptionOtherHerbRelMapper">
    
    <resultMap type="PrescriptionOtherHerbRel" id="PrescriptionOtherHerbRelResult">
        <result property="id"    column="id"    />
        <result property="tcmPrescriptionId"    column="tcm_prescription_id"    />
        <result property="tcmHerb2Id"    column="tcm_herb2_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectPrescriptionOtherHerbRelVo">
        select id, tcm_prescription_id, tcm_herb2_id, created_at from prescription_other_herb_rel
    </sql>

    <select id="selectPrescriptionOtherHerbRelList" parameterType="PrescriptionOtherHerbRel" resultMap="PrescriptionOtherHerbRelResult">
        <include refid="selectPrescriptionOtherHerbRelVo"/>
        <where>  
            <if test="tcmPrescriptionId != null  and tcmPrescriptionId != ''"> and tcm_prescription_id = #{tcmPrescriptionId}</if>
            <if test="tcmHerb2Id != null  and tcmHerb2Id != ''"> and tcm_herb2_id = #{tcmHerb2Id}</if>
        </where>
    </select>
    
    <select id="selectPrescriptionOtherHerbRelById" parameterType="Long" resultMap="PrescriptionOtherHerbRelResult">
        <include refid="selectPrescriptionOtherHerbRelVo"/>
        where id = #{id}
    </select>

    <insert id="insertPrescriptionOtherHerbRel" parameterType="PrescriptionOtherHerbRel" useGeneratedKeys="true" keyProperty="id">
        insert into prescription_other_herb_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">tcm_prescription_id,</if>
            <if test="tcmHerb2Id != null and tcmHerb2Id != ''">tcm_herb2_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">#{tcmPrescriptionId},</if>
            <if test="tcmHerb2Id != null and tcmHerb2Id != ''">#{tcmHerb2Id},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updatePrescriptionOtherHerbRel" parameterType="PrescriptionOtherHerbRel">
        update prescription_other_herb_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">tcm_prescription_id = #{tcmPrescriptionId},</if>
            <if test="tcmHerb2Id != null and tcmHerb2Id != ''">tcm_herb2_id = #{tcmHerb2Id},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrescriptionOtherHerbRelById" parameterType="Long">
        delete from prescription_other_herb_rel where id = #{id}
    </delete>

    <delete id="deletePrescriptionOtherHerbRelByIds" parameterType="String">
        delete from prescription_other_herb_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>