<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcmseek.webmanage.mapper.PrescriptionCoreHerbRelMapper">
    
    <resultMap type="PrescriptionCoreHerbRel" id="PrescriptionCoreHerbRelResult">
        <result property="id"    column="id"    />
        <result property="tcmPrescriptionId"    column="tcm_prescription_id"    />
        <result property="tcmHerbId"    column="tcm_herb_id"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectPrescriptionCoreHerbRelVo">
        select id, tcm_prescription_id, tcm_herb_id, created_at from prescription_core_herb_rel
    </sql>

    <select id="selectPrescriptionCoreHerbRelList" parameterType="PrescriptionCoreHerbRel" resultMap="PrescriptionCoreHerbRelResult">
        <include refid="selectPrescriptionCoreHerbRelVo"/>
        <where>  
            <if test="tcmPrescriptionId != null  and tcmPrescriptionId != ''"> and tcm_prescription_id = #{tcmPrescriptionId}</if>
            <if test="tcmHerbId != null  and tcmHerbId != ''"> and tcm_herb_id = #{tcmHerbId}</if>
        </where>
    </select>
    
    <select id="selectPrescriptionCoreHerbRelById" parameterType="Long" resultMap="PrescriptionCoreHerbRelResult">
        <include refid="selectPrescriptionCoreHerbRelVo"/>
        where id = #{id}
    </select>

    <insert id="insertPrescriptionCoreHerbRel" parameterType="PrescriptionCoreHerbRel" useGeneratedKeys="true" keyProperty="id">
        insert into prescription_core_herb_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">tcm_prescription_id,</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">tcm_herb_id,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">#{tcmPrescriptionId},</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">#{tcmHerbId},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updatePrescriptionCoreHerbRel" parameterType="PrescriptionCoreHerbRel">
        update prescription_core_herb_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="tcmPrescriptionId != null and tcmPrescriptionId != ''">tcm_prescription_id = #{tcmPrescriptionId},</if>
            <if test="tcmHerbId != null and tcmHerbId != ''">tcm_herb_id = #{tcmHerbId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePrescriptionCoreHerbRelById" parameterType="Long">
        delete from prescription_core_herb_rel where id = #{id}
    </delete>

    <delete id="deletePrescriptionCoreHerbRelByIds" parameterType="String">
        delete from prescription_core_herb_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>